@import '../../SCSS/colorStack';
@import '../../SCSS/fontStack';

.reminder-table {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .table-container {
    .actions-icons {
      margin-left: 10px;

      .edit-icons {
        color: $lightGreen;
        cursor: pointer;
        transition: transform 0.2s;
        &:hover {
          color: $lightGrey;
          transform: scale(1.5);
        }
      }

      .del-icons {
        color: $lightRed;
        cursor: pointer;
        transition: transform 0.2s;
        &:hover {
          color: $lightGrey;
          transform: scale(1.5);
        }
      }
    }
  }
}
