.close-icon {
  float: right;
}

.form-container {
  align-items: center;
}

.fab {
  float: right;
  margin-right: 10px;
  margin: 10px;
  padding: 10px;

  .add-icon {
    margin-right: 10px;
    margin: 10px;
    padding: 10px;
  }
}
