@import '../../../scss/colorStack';

.inputField {
  margin: 10px !important;
  padding: 10px !important;
  width: 80% !important;
}

.dateField {
  margin: 10px !important;
  padding: 10px !important;
  width: 80% !important;
  font-size: larger !important;
}

.buttonField {
  margin-bottom: 10px !important;
}
